<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Summarizer</title>
</head>
<body>
    <center>
        <h1>Welcome to PDF Summarizer</h1>
        <h3>Select your PDF file</h3>

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".pdf" required>
            <button>Go</button>
        </form>

        <p>
            {{output}}
        </p>

    </center>
</body>
</html>